.header {
  position: -webkit-sticky;
  width: 100%;
  z-index: 100000000;
  left: 0;
  padding: 10px;
  background-color: $primary;

  &.desktop-nav{
    @media screen and (max-width: $aboveMedium) {
      display: none;
    }
  }

  &.mobile-nav{
    @media screen and (min-width: $aboveMedium) {
      display: none;
    }

    .hamburger{
      border-color: $white;

      &:focus{
        box-shadow: none;
      }

      &-scroll{
        border-color: $primary;
      }
    }

    .mobile-links-container{
      .header-links{
        color: $white;
        font-weight: $ultralight;
        font-size: 18px;
        padding: 0.5rem 1.5rem;
        text-align: end;
  
        &.active{
          font-weight: $bold;
        }
  
        &.link-scroll{
          color: $primary;
        }
      }

      .contact-us-btn{
        @include button($accent1, $white, 10px, 2px solid $accent1, transparent, $accent1, 2px solid $accent1);
        font-weight: $light;
        font-size: 15px;
        padding: .3em 1em;
        width: 120px;
        margin-left: auto;
        margin-bottom: 10px;
        top: 10px;
        right: 20px;
      }
    }
  }

  &.nav-scroll {
    background-color: $white;
    opacity: .98;
    box-shadow: 0px 1px 20px 1px rgba($black, 0.5);
  }

  .header-container {
    padding: .5em 0;

    @media screen and (max-width: 500px) {
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .header-logo {
    @media screen and (max-width: 500px) {
      padding-bottom: 1.5em;
    }

    .logo {
      width: 100%;
      max-width: 140px;
      cursor: pointer;
    }
  }

  .links-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;

    .header-links{
      color: $white;
      font-weight: $ultralight;
      font-size: 18px;
      padding: 0.5rem 1.5rem;

      &.active{
        font-weight: $bold;
      }
  
      &.login{
        border-left: 1px solid $accent1;
        padding-left: 3rem;
        padding-right: 2rem;
      }

      &.link-scroll{
        color: $primary;
      }
  
      @media screen and (max-width: 500px) {
        justify-content: center;
      }
    }

    .contact-us-btn{
      @include button($accent1, $white, 10px, 2px solid $accent1, transparent, $accent1, 2px solid $accent1);
      font-weight: $light;
      font-size: 16px;
      padding: .3em 1em;
    }
  }
}